# scrape data

- title
- plot
- genre

In [1]:
import pandas as pd
import functions

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('data/s.csv')
df.head()

,Title,Year,Genres,Plots,Processed_feature
0,02:22,2017,"Drama,Mystery,Science Fiction,Thriller",A man s life is derailed when an ominous patte...,man life derail omin pattern event repeat exac...
1,85,2020,"Drama,Fantasy",What do you dream of when you re 16 years old ...,z
2,9,2009,"Adventure,Animation,Science Fiction",When 9 first comes to life he finds himself i...,when first come life find post apocalypt world...
3,21,2008,"Crime,Drama,Romance,Thriller",An embattled NYPD detective is thrust into a ...,embattl nypd detect thrust citywid manhunt pai...
4,31,2016,"Horror,Thriller",Five carnival workers are kidnapped and held h...,five carniv worker kidnap held hostag abandon ...

In [3]:
df.shape

(9338, 5)

## movies not in the dataframe

In [4]:
import tmdbsimple as tmdb
import os

In [5]:
api_key = os.getenv("MOVIE_API_KEY")
tmdb.API_KEY = api_key

In [6]:
search = tmdb.Search()

In [39]:
response = search.movie(query='eternals')

In [40]:
response

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/3G6wET9eLvYn3aoIj8NfQFhpYEB.jpg',
   'genre_ids': [28, 12, 878],
   'id': 524434,
   'original_language': 'en',
   'original_title': 'Eternals',
   'overview': 'The Eternals are a team of ancient aliens who have been living on Earth in secret for thousands of years. When an unexpected tragedy forces them out of the shadows, they are forced to reunite against mankind’s most ancient enemy, the Deviants.',
   'popularity': 2026.37,
   'poster_path': '/6AdXwFTRTAzggD2QUTt5B7JFGKL.jpg',
   'release_date': '2021-11-03',
   'title': 'Eternals',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 238},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [16],
   'id': 375211,
   'original_language': 'en',
   'original_title': 'Marvel Knights: Eternals',
   'overview': "You are thousands of years old. You have amazing powers. You have watched civilizations rise and fall. So why does no one remember any of this? Best-selling author, Neil Gaiman (Marvel: 1602) is joined by superstar artist, John Romita. Jr. (Amazing Spider-Man), to bring you the extraordinary tale of The Eternals. Medical student Mark Curry's world is turned upside-down when he meets Ike Harris, a man who believes that he is part of a centuries-old race of super-powered beings put here on Earth by aliens to preserve and safeguard the planet — and even crazier, tried to convince Mark that he is one too.",
   'popularity': 269.506,
   'poster_path': '/wVWDDzB0sWEIEMh0TXgqRa8X65o.jpg',
   'release_date': '2014-09-16',
   'title': 'Marvel Knights: Eternals',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 5},
  {'adult': False,
   'backdrop_path': '/jIfPLloXelmSr9aBH0So50N5hww.jpg',
   'genre_ids': [99],
   'id': 449913,
   'original_language': 'fr',
   'original_title': 'Les éternels',
   'overview': 'Human beings who have experienced such a strong shock that they are no longer even afraid of death (as it often happens to genocide survivors) sometimes fall into what is known as a feeling of timelessness or a “melancholy”. They live somewhat “outside” time, a mode of extra-temporal existence, waiting for the day on which they will be freed from their suffering. It is the people — almost ghosts having survived the conflict in Nagorno-Karabakh between Armenians and Azerbaijani that has lasted for almost twenty years — that the filmmaker shows and listens to in his film. Behind them, behind their wandering bodies, behind their frenzies, is what remains of the collapse of the Soviet Union in Caucasus: ruins, uninhabited spaces, tombs, vestiges of war, trenches where soldiers watch for an invisible enemy.',
   'popularity': 26.41,
   'poster_path': '/7Sa2Z8clNyJAkAIb27jQ2wCOaiF.jpg',
   'release_date': '2017-04-25',
   'title': 'The Eternals',
   'video': False,
   'vote_average': 3.5,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': '/u8knW7EDdrXasodaSBV2X8KzhM1.jpg',
   'genre_ids': [18],
   'id': 719923,
   'original_language': 'ko',
   'original_title': "TXT (투모로우바이투게더) 'Eternally'",
   'overview': 'Eternally is the sixth and final track of the album The Dream Chapter: ETERNITY by South Korean boy group TXT. The corresponding short film for the song was released on June 28th, 2020.',
   'popularity': 57.34,
   'poster_path': '/4eBVDZmN3W8c9yKhK1fH1k2iWxd.jpg',
   'release_date': '',
   'title': "TXT (TOMORROW X TOGETHER) 'Eternally'",
   'video': False,
   'vote_average': 10,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [18],
   'id': 747988,
   'original_language': 'ja',
   'original_title': '君は永遠にそいつらより若い',
   'overview': 'Horigai spends her boring days waiting to graduate from college. As she hangs out with friends, she begins to realize the violence and sorrow behind their ordinary lives.',
   'popularity': 12.942,
   'poster_path': '/klRaTQq67dg4EgwBQyNkE8N02iI.jpg',
   'release_date': '2021-09-17',
   'title': 'Eternally Younger Than Those Idiots',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [18],
   'id': 709324,
   'original_language': 'id',
   'original_title': 'Sementara, Selamanya',
   'overview': 'Saka and Zara decided to stay apart temporarily because Zara was on duty as a doctor who handled COVID-19 patients. Through a series of video calls, the big secret was revealed between them.',
   'popularity': 4.656,
   'poster_path': '/bomIqeFbQ6SXK3IrMfkxUXFrQh6.jpg',
   'release_date': '2020-06-06',
   'title': 'Temporarily, Eternally',
   'video': False,
   'vote_average': 4.3,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': '/wF7HZvuswUmQC7Rpfx6og9ZP8Le.jpg',
   'genre_ids': [16, 10749, 878, 35],
   'id': 246464,
   'original_language': 'ja',
   'original_title': 'そらのおとしものFinal 永遠の私の鳥籠',
   'overview': 'Ikaros is an Angeloid and falls out of the sky. Tomoki Sakurai is a boy who believes the most important thing is to live a peaceful life. The two live tougher. Tomoki Sakurai has never seen Ikaros smile. Tomoki Sakurai sees Nymph and Astraea laugh after they got free from the master’s rule. He hopes Ikaros can laugh like an ordinary girl.  This movie wraps up the story of Tomoki Sakurai and his relationship with the Angeloid from the sky, Ikaros.',
   'popularity': 76.017,
   'poster_path': '/jyIFWdaGAhmgRuyLjg7NYqs9SLR.jpg',
   'release_date': '2014-04-27',
   'title': "Heaven's Lost Property Final – The Movie: Eternally My Master",
   'video': False,
   'vote_average': 7.6,
   'vote_count': 22},
  {'adult': False,
   'backdrop_path': '/mzPaH67TtrYyCbe4GEi7csyasVF.jpg',
   'genre_ids': [18, 35, 10749],
   'id': 76382,
   'original_language': 'en',
   'original_title': 'Eternally Yours',
   'overview': "Anita, engaged to solid Don Barnes, is swept off her feet by magician Arturo. Before you can say presto, she's his wife and stage assistant on a lengthy world tour. But Anita is annoyed by Arturo's constant flirtations, and his death-defying stunts give her nightmares. And forget her plan to retire to a farmhouse. Eventually, she has had enough and disappears.",
   'popularity': 9.01,
   'poster_path': '/1GLruIchHPJwy2ZnwWl2Es4QzsD.jpg',
   'release_date': '1939-10-07',
   'title': 'Eternally Yours',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 8},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 727627,
   'original_language': 'en',
   'original_title': 'Eternally',
   'overview': 'The new 19 minute music video from kpop group Tomorrow X Together.',
   'popularity': 2.366,
   'poster_path': None,
   'release_date': '',
   'title': 'Eternally',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 719831,
   'original_language': 'ko',
   'original_title': 'Eternally',
   'overview': 'third music video of the album "The Dream Chapter: Eternity".',
   'popularity': 2.215,
   'poster_path': None,
   'release_date': '',
   'title': 'Eternally',
   'video': True,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [99, 10402],
   'id': 858507,
   'original_language': 'ru',
   'original_title': 'Вечно танцующий человек',
   'overview': "Monatik burst into the Ukrainian show business swiftly, triumphantly and as if out of nowhere, immediately starting to make music in quality comparable to European and American samples. The documentary project will tell about the artist's life even before he became famous and the most demanded Ukrainian performer.",
   'popularity': 3.088,
   'poster_path': '/3IZL0S6s0TuCYtt2ILfiEXajUJd.jpg',
   'release_date': '2021-06-03',
   'title': 'The Eternally Dancing Man',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [878, 18, 10749],
   'id': 502026,
   'original_language': 'en',
   'original_title': 'Eternalism',
   'overview': '29 year old Herbert is depressed, alone & terminally ill. During his regular hospital visits for treatment Herbert makes a friend, Jed, who sets him on the path of an unforgettable life journey.',
   'popularity': 3.774,
   'poster_path': '/c9x3Y17bvqRgxw0tUoKfaOkviTU.jpg',
   'release_date': '2013-02-26',
   'title': 'Eternalism',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/pZE0nYSxSaOSxWslJlUjb7xU7EG.jpg',
   'genre_ids': [99],
   'id': 563681,
   'original_language': 'ru',
   'original_title': 'Все хотят жить вечно',
   'overview': "The psychological and physical burdens that cardiac surgeons must bear are borderline.\r There are two opinions. The first: if you are not fully dedicated to heart surgery without any other interest you can not be a true professional. The second opinion: if you do not have an outlet, something else in your life, you will quickly fall apart and you will not be able to work quite well. At the center of the film is Mikhail Alchibaia, MD, director of the Coronary Surgery Department of the Bakulev Cardiovascular Surgery Research Institute and one of the world's leading collectors of contemporary art.",
   'popularity': 2.744,
   'poster_path': '/qGrh8BHsGo7bnZfqMjdXWKPR7VJ.jpg',
   'release_date': '2017-12-09',
   'title': 'Everybody Wants To Live Eternally',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 331749,
   'original_language': 'en',
   'original_title': 'Best Friends Eternally',
   'overview': "Jackson and Tony have been best friends since the Vietnam War bonded the two men with different worldviews. Tony dutifully informs his best buddy that they can be best friends until death does them part, but until Jackson gets right with God, they can never be best friends eternally. Despite Tony's persistence in preaching the gospel, that friendship thrives in the same fashion between the atheist and the Christian for about forty years, until Madison, Tony's granddaughter, arrives on the scene. While she is busy teaching Jackson about Jesus, her grandfather wanders off the straight and narrow course, compliments of an attractive lady, who despite being several years younger than the retired English professor, professes her love for Tony and lures him into her world.",
   'popularity': 1.992,
   'poster_path': None,
   'release_date': '2015-03-13',
   'title': 'Best Friends Eternally',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 858090,
   'original_language': 'en',
   'original_title': 'Abstract Eternalism',
   'overview': 'Premiere at the Museum of Modern Art in New York City on August 5, 2021.',
   'popularity': 4.022,
   'poster_path': '/6SJWMNH7BwDFnYWbhGTKAl46Ahp.jpg',
   'release_date': '2021-08-05',
   'title': 'Abstract Eternalism',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 838811,
   'original_language': 'en',
   'original_title': "Rick Steves' Rome: Eternally Engaging",
   'overview': 'In this hour-long travel special, we explore the "Eternal City" of Rome, a grand and ancient metropolis rich with exquisite art, vibrant culture, and centuries of history.',
   'popularity': 2.289,
   'poster_path': None,
   'release_date': '2012-09-04',
   'title': "Rick Steves' Rome: Eternally Engaging",
   'video': True,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 664262,
   'original_language': 'en',
   'original_title': 'Swee’pea’s Favorite Eternalisms',
   'overview': '3D Eternalism by Ken Jacobs',
   'popularity': 2.303,
   'poster_path': None,
   'release_date': '2017-07-07',
   'title': 'Swee’pea’s Favorite Eternalisms',
   'video': False,
   'vote_average': 0,
   'vote_count': 0}],
 'total_pages': 1,
 'total_results': 17}

In [41]:
response = response['results'][0]

In [42]:
response

{'adult': False,
 'backdrop_path': '/3G6wET9eLvYn3aoIj8NfQFhpYEB.jpg',
 'genre_ids': [28, 12, 878],
 'id': 524434,
 'original_language': 'en',
 'original_title': 'Eternals',
 'overview': 'The Eternals are a team of ancient aliens who have been living on Earth in secret for thousands of years. When an unexpected tragedy forces them out of the shadows, they are forced to reunite against mankind’s most ancient enemy, the Deviants.',
 'popularity': 2026.37,
 'poster_path': '/6AdXwFTRTAzggD2QUTt5B7JFGKL.jpg',
 'release_date': '2021-11-03',
 'title': 'Eternals',
 'video': False,
 'vote_average': 7.2,
 'vote_count': 238}

In [15]:
overview = []

In [20]:
overview.append(response['overview'])
# date.append(response['release_date'].split('-')[0])
# genre_ids = response['genre_ids']
# for k in genre_ids:
#     if k in genre_key:
#         g += genre_key[k] +', '
# genres_.append(g)

In [21]:
overview

['The Eternals are a team of ancient aliens who have been living on Earth in secret for thousands of years. When an unexpected tragedy forces them out of the shadows, they are forced to reunite against mankind’s most ancient enemy, the Deviants.']

In [7]:
movies = df
all_movies = list(movies['Title'])

genre_key = {28:'Action', 12:'Adventure', 16:'Animation', 35:'Comedy', 80:'Crime',
             99:'Documentary', 18:'Drama', 10751:'Family', 14:'Fantasy', 36:'History', 
             27:'Horror', 10402:'Music', 9648:'Mystery', 10749:'Romance', 878 :'Science Fiction', 
             10770:'TV Movie', 53:'Thriller', 10752:'War',  37:'Western'}

img_base_url = 'https://image.tmdb.org/t/p/w500'

In [8]:
def show_recommendations(movie_title: str):

    ### SEARCH QUERY IS NOT IN DATAFRAME
    if movie_title not in all_movies:
        g = ''
        search = tmdb.Search()

        response = search.movie(query=movie_title)

        ## SEARCH QUERY NOT FOUND IN TMDB
        if len(response['results']) < 1:
            print('cannot help you')

        else:
            recommendation_data = functions.add_unknown_movie(movie_title, movies)

    ##### SEARCH QUERY IS PRESENT IN DATAFRAME        
    else:
        recommendation_data = movies.copy()

    cosine_similarity_df = functions.cosine_similarities(recommendation_data, 'Genres')

    names = functions.get_recommendations(cosine_similarity_df, movie_title)

    fetched_imgs = []
    fetched_overviews = []
    fetched_ratings = []
    fetched_dates = []
    fetched_genres = []
    
    print(fetched_imgs)

    #API CALL TO GET INFORMATION ON RECOMMENDED MOVIES
    search = tmdb.Search()
    for n in names:
        g = ''
        response = search.movie(query=n)
        response = response['results'][0]

        fetched_overviews.append(response['overview'])

        poster_path = response['poster_path']
        fetched_imgs.append(img_base_url + poster_path)

        fetched_ratings.append(response['vote_average'])

        fetched_dates.append(response['release_date'].split('-')[0])

        genre_ids = response['genre_ids']
        for k in genre_ids:
            if k in genre_key:
                g += genre_key[k] +', '
        fetched_genres.append(g)
    
    return names, fetched_imgs, fetched_dates, fetched_ratings, fetched_overviews, fetched_genres

In [9]:
names, fetched_img_files, fetched_date, fetched_rating, fetched_overview, fetched_genres = show_recommendations('Avatar')

Title  02:22   85         9        21        31   42        99       122  \
Title
02:22    0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
85       0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
9        0.0  0.0  1.000000  0.000000  0.000000  0.0  0.000000  0.000000
21       0.0  0.0  0.000000  1.000000  0.000000  0.0  0.745622  0.000000
31       0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
42       0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
99       0.0  0.0  0.000000  0.745622  0.000000  0.0  1.000000  0.000000
122      0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
300      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
360      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
678      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
730      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
1408     0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
1922     0.0  0.0  0.000000  0.511358  0.727777  0.0  0.685814  0.727777
2012     0.0  0.0  0.764689  0.000000  0.000000  0.0  0.000000  0.000000
2046     0.0  0.0  0.000000  0.666369  0.000000  0.0  0.000000  0.000000
2067     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
3022     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
7500     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
71       0.0  0.0  0.000000  0.566345  0.000000  0.0  0.759560  0.000000

Title       300  360  ...  Zoolander 2      Zoom  Zoombies  Zootopia  Zozo  \
Title                 ...
02:22  0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
85     0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
9      0.000000  0.0  ...          0.0  0.764689  0.597544  0.712760   0.0
21     0.000000  0.0  ...          0.0  0.000000  0.000000  0.522985   0.0
31     0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
42     0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
99     0.000000  0.0  ...          0.0  0.000000  0.000000  0.701408   0.0
122    0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
300    1.000000  0.0  ...          0.0  0.644399  0.503547  0.000000   0.0
360    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
678    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
730    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
1408   0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
1922   0.000000  0.0  ...          0.0  0.000000  0.454136  0.481035   0.0
2012   0.644399  0.0  ...          0.0  1.000000  0.781420  0.545040   0.0
2046   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
2067   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
3022   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
7500   1.000000  0.0  ...          0.0  0.644399  0.503547  0.000000   0.0
71     0.650437  0.0  ...          0.0  0.419141  0.327525  0.532761   0.0

Title  The Shawshank Redemption  The Chronicles of Narnia: Prince Caspian  \
Title
02:22                  0.000000                                  0.000000
85                     0.000000                                  0.000000
9                      0.000000                                  1.000000
21                     0.745622                                  0.000000
31                     0.000000                                  0.000000
42                     0.000000                                  0.000000
99                     1.000000                                  0.000000
122                    0.000000                                  0.000000
300                    0.000000                                  0.000000
360                    0.000000                                  0.000000
678                    0.000000                                  0.000000
730                    0.000000                                  0.000000
1408                   0.000000                                  0.000000
1922                   0.685814                                  0.000000
2012                   0.000000                                  0.764689
2046                   0.000000                                  0.000000
2067                   0.000000                                  0.000000
3022                   0.000000                                  0.000000
7500                   0.000000                                  0.000000
71                     0.759560                                  0.000000

Title  The Chronicles of Narnia: The Lion, the Witch and the Wardrobe  \
Title
02:22                                           0.000000
85                                              0.000000
9                                               1.000000
21                                              0.000000
31                                              0.000000
42                                              0.000000
99                                              0.000000
122                                             0.000000
300                                             0.000000
360                                             0.000000
678                                             0.000000
730                                             0.000000
1408                                            0.000000
1922                                            0.000000
2012                                            0.764689
2046                                            0.000000
2067                                            0.000000
3022                                            0.000000
7500                                            0.000000
71                                              0.000000

Title  The Chronicles of Narnia: The Voyage of the Dawn Treader  Eternals
Title
02:22                                           0.000000         0.000000
85                                              0.000000         0.000000
9                                               1.000000         0.764689
21                                              0.000000         0.000000
31                                              0.000000         0.000000
42                                              0.000000         0.000000
99                                              0.000000         0.000000
122                                             0.000000         0.000000
300                                             0.000000         0.644399
360                                             0.000000         0.000000
678                                             0.000000         0.000000
730                                             0.000000         0.000000
1408                                            0.000000         0.000000
1922                                            0.000000         0.000000
2012                                            0.764689         1.000000
2046                                            0.000000         0.000000
2067                                            0.000000         0.000000
3022                                            0.000000         0.000000
7500                                            0.000000         0.644399
71                                              0.000000         0.419141

[20 rows x 9338 columns]
[]

In [10]:
names

['Last Knights',
 'Kingsman The Golden Circle',
 'Kong Skull Island',
 'All Is Lost',
 'Kung Fu Panda']

In [11]:
names, fetched_img_files, fetched_date, fetched_rating, fetched_overview, fetched_genres = show_recommendations('Eternals')

Title  02:22   85         9        21        31   42        99       122  \
Title
02:22    0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
85       0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
9        0.0  0.0  1.000000  0.000000  0.000000  0.0  0.000000  0.000000
21       0.0  0.0  0.000000  1.000000  0.000000  0.0  0.745622  0.000000
31       0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
42       0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
99       0.0  0.0  0.000000  0.745622  0.000000  0.0  1.000000  0.000000
122      0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
300      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
360      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
678      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
730      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
1408     0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
1922     0.0  0.0  0.000000  0.511358  0.727777  0.0  0.685814  0.727777
2012     0.0  0.0  0.764689  0.000000  0.000000  0.0  0.000000  0.000000
2046     0.0  0.0  0.000000  0.666369  0.000000  0.0  0.000000  0.000000
2067     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
3022     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
7500     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
71       0.0  0.0  0.000000  0.566345  0.000000  0.0  0.759560  0.000000

Title       300  360  ...  Zoolander 2      Zoom  Zoombies  Zootopia  Zozo  \
Title                 ...
02:22  0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
85     0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
9      0.000000  0.0  ...          0.0  0.764689  0.597544  0.712760   0.0
21     0.000000  0.0  ...          0.0  0.000000  0.000000  0.522985   0.0
31     0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
42     0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
99     0.000000  0.0  ...          0.0  0.000000  0.000000  0.701408   0.0
122    0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
300    1.000000  0.0  ...          0.0  0.644399  0.503547  0.000000   0.0
360    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
678    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
730    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
1408   0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
1922   0.000000  0.0  ...          0.0  0.000000  0.454136  0.481035   0.0
2012   0.644399  0.0  ...          0.0  1.000000  0.781420  0.545040   0.0
2046   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
2067   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
3022   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
7500   1.000000  0.0  ...          0.0  0.644399  0.503547  0.000000   0.0
71     0.650437  0.0  ...          0.0  0.419141  0.327525  0.532761   0.0

Title  The Shawshank Redemption  The Chronicles of Narnia: Prince Caspian  \
Title
02:22                  0.000000                                  0.000000
85                     0.000000                                  0.000000
9                      0.000000                                  1.000000
21                     0.745622                                  0.000000
31                     0.000000                                  0.000000
42                     0.000000                                  0.000000
99                     1.000000                                  0.000000
122                    0.000000                                  0.000000
300                    0.000000                                  0.000000
360                    0.000000                                  0.000000
678                    0.000000                                  0.000000
730                    0.000000                                  0.000000
1408                   0.000000                                  0.000000
1922                   0.685814                                  0.000000
2012                   0.000000                                  0.764689
2046                   0.000000                                  0.000000
2067                   0.000000                                  0.000000
3022                   0.000000                                  0.000000
7500                   0.000000                                  0.000000
71                     0.759560                                  0.000000

Title  The Chronicles of Narnia: The Lion, the Witch and the Wardrobe  \
Title
02:22                                           0.000000
85                                              0.000000
9                                               1.000000
21                                              0.000000
31                                              0.000000
42                                              0.000000
99                                              0.000000
122                                             0.000000
300                                             0.000000
360                                             0.000000
678                                             0.000000
730                                             0.000000
1408                                            0.000000
1922                                            0.000000
2012                                            0.764689
2046                                            0.000000
2067                                            0.000000
3022                                            0.000000
7500                                            0.000000
71                                              0.000000

Title  The Chronicles of Narnia: The Voyage of the Dawn Treader  Eternals
Title
02:22                                           0.000000         0.000000
85                                              0.000000         0.000000
9                                               1.000000         0.764689
21                                              0.000000         0.000000
31                                              0.000000         0.000000
42                                              0.000000         0.000000
99                                              0.000000         0.000000
122                                             0.000000         0.000000
300                                             0.000000         0.644399
360                                             0.000000         0.000000
678                                             0.000000         0.000000
730                                             0.000000         0.000000
1408                                            0.000000         0.000000
1922                                            0.000000         0.000000
2012                                            0.764689         1.000000
2046                                            0.000000         0.000000
2067                                            0.000000         0.000000
3022                                            0.000000         0.000000
7500                                            0.000000         0.644399
71                                              0.000000         0.419141

[20 rows x 9338 columns]
[]

In [12]:
names

['Last Knights',
 'Kingsman The Golden Circle',
 'Kong Skull Island',
 'All Is Lost',
 'Kung Fu Panda']

In [14]:
names, fetched_img_files, fetched_date, fetched_rating, fetched_overview, fetched_genres = show_recommendations('All The Bright Places')

Title  02:22   85         9        21        31   42        99       122  \
Title
02:22    0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
85       0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
9        0.0  0.0  1.000000  0.000000  0.000000  0.0  0.000000  0.000000
21       0.0  0.0  0.000000  1.000000  0.000000  0.0  0.745622  0.000000
31       0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
42       0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
99       0.0  0.0  0.000000  0.745622  0.000000  0.0  1.000000  0.000000
122      0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
300      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
360      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
678      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
730      0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
1408     0.0  0.0  0.000000  0.000000  1.000000  0.0  0.000000  1.000000
1922     0.0  0.0  0.000000  0.511358  0.727777  0.0  0.685814  0.727777
2012     0.0  0.0  0.764689  0.000000  0.000000  0.0  0.000000  0.000000
2046     0.0  0.0  0.000000  0.666369  0.000000  0.0  0.000000  0.000000
2067     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
3022     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
7500     0.0  0.0  0.000000  0.000000  0.000000  0.0  0.000000  0.000000
71       0.0  0.0  0.000000  0.566345  0.000000  0.0  0.759560  0.000000

Title       300  360  ...  Zoolander 2      Zoom  Zoombies  Zootopia  Zozo  \
Title                 ...
02:22  0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
85     0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
9      0.000000  0.0  ...          0.0  0.764689  0.597544  0.712760   0.0
21     0.000000  0.0  ...          0.0  0.000000  0.000000  0.522985   0.0
31     0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
42     0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
99     0.000000  0.0  ...          0.0  0.000000  0.000000  0.701408   0.0
122    0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
300    1.000000  0.0  ...          0.0  0.644399  0.503547  0.000000   0.0
360    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
678    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
730    0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
1408   0.000000  0.0  ...          0.0  0.000000  0.624005  0.000000   0.0
1922   0.000000  0.0  ...          0.0  0.000000  0.454136  0.481035   0.0
2012   0.644399  0.0  ...          0.0  1.000000  0.781420  0.545040   0.0
2046   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
2067   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
3022   0.000000  0.0  ...          0.0  0.000000  0.000000  0.000000   0.0
7500   1.000000  0.0  ...          0.0  0.644399  0.503547  0.000000   0.0
71     0.650437  0.0  ...          0.0  0.419141  0.327525  0.532761   0.0

Title  The Shawshank Redemption  The Chronicles of Narnia: Prince Caspian  \
Title
02:22                  0.000000                                  0.000000
85                     0.000000                                  0.000000
9                      0.000000                                  1.000000
21                     0.745622                                  0.000000
31                     0.000000                                  0.000000
42                     0.000000                                  0.000000
99                     1.000000                                  0.000000
122                    0.000000                                  0.000000
300                    0.000000                                  0.000000
360                    0.000000                                  0.000000
678                    0.000000                                  0.000000
730                    0.000000                                  0.000000
1408                   0.000000                                  0.000000
1922                   0.685814                                  0.000000
2012                   0.000000                                  0.764689
2046                   0.000000                                  0.000000
2067                   0.000000                                  0.000000
3022                   0.000000                                  0.000000
7500                   0.000000                                  0.000000
71                     0.759560                                  0.000000

Title  The Chronicles of Narnia: The Lion, the Witch and the Wardrobe  \
Title
02:22                                           0.000000
85                                              0.000000
9                                               1.000000
21                                              0.000000
31                                              0.000000
42                                              0.000000
99                                              0.000000
122                                             0.000000
300                                             0.000000
360                                             0.000000
678                                             0.000000
730                                             0.000000
1408                                            0.000000
1922                                            0.000000
2012                                            0.764689
2046                                            0.000000
2067                                            0.000000
3022                                            0.000000
7500                                            0.000000
71                                              0.000000

Title  The Chronicles of Narnia: The Voyage of the Dawn Treader  Eternals
Title
02:22                                           0.000000         0.000000
85                                              0.000000         0.000000
9                                               1.000000         0.764689
21                                              0.000000         0.000000
31                                              0.000000         0.000000
42                                              0.000000         0.000000
99                                              0.000000         0.000000
122                                             0.000000         0.000000
300                                             0.000000         0.644399
360                                             0.000000         0.000000
678                                             0.000000         0.000000
730                                             0.000000         0.000000
1408                                            0.000000         0.000000
1922                                            0.000000         0.000000
2012                                            0.764689         1.000000
2046                                            0.000000         0.000000
2067                                            0.000000         0.000000
3022                                            0.000000         0.000000
7500                                            0.000000         0.644399
71                                              0.000000         0.419141

[20 rows x 9338 columns]
[]

In [15]:
names

['Ghost Town',
 'Swimming With Men',
 'Sweet November',
 'Sweet Home Carolina',
 'Sweet Home Alabama']

In [10]:
fetched_img_files

['https://image.tmdb.org/t/p/w500/lVFYPVDG5hrKYzM4zcDMCMuYyN5.jpg',
 'https://image.tmdb.org/t/p/w500/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
 'https://image.tmdb.org/t/p/w500/wd6mhwDjlpeOufuMUF1FAeMliWZ.jpg',
 'https://image.tmdb.org/t/p/w500/qfhiVU59BSPCdOZwPNs29Z8S23K.jpg',
 'https://image.tmdb.org/t/p/w500/1wY4psJ5NVEhCuOYROwLH2XExM2.jpg']

In [11]:
fetched_date

['2016', '1994', '2007', '2013', '1998']

In [12]:
fetched_rating

[6.6, 8.7, 6.2, 7.4, 8.2]

In [13]:
fetched_overview

["'Wazir' is a tale of two unlikely friends, a wheelchair-bound chess grandmaster and a brave ATS officer. Brought together by grief and a strange twist of fate, the two men decide to help each other win the biggest games of their lives. But there's a mysterious, dangerous opponent lurking in the shadows, who is all set to checkmate them.",
 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
 "Jigsaw and his apprentice Amanda are dead. Now, upon the news of Detective Kerry's murder, two seasoned FBI profilers, Agent Strahm and Agent Perez, arrive in the terrified community to assist the veteran Detective Hoffman in sifting through Jigsaw's latest grisly remains and piecing together the puzzle. However, when SWAT Commander Rigg is abducted and thrust into a game, the last officer untouched by Jigsaw has but ninety minutes to overcome a series of demented traps and save an old friend...or face the deadly consequences.",
 'Author P.L. Travers looks back on her childhood while reluctantly meeting with Walt Disney, who seeks to adapt her Mary Poppins books for the big screen.',
 'As U.S. troops storm the beaches of Normandy, three brothers lie dead on the battlefield, with a fourth trapped behind enemy lines. Ranger captain John Miller and seven men are tasked with penetrating German-held territory and bringing the boy home.']

In [ ]:
fetched_genres

- remove stop words
- remove non english words

In [6]:
# import re
# new = []
# for t in df['Plots']:
#     new.append(re.sub('[^a-zA-Z0-9]', ' ', t))

- remove symbols
- remove names
- remove stopwords and one-letter words
- stem words

In [5]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [6]:
snow = SnowballStemmer(ignore_stopwords=True, language='english')
stopwords= stopwords.words('english')

In [9]:
# def process_text(texts): 
#     final_text_list = []
#     for sent in texts:
#         # Check if the sentence is a missing value
#         if isinstance(sent, str) == False:
#             sent = ""
            
#         filtered_sentence = []
        
#         for w in word_tokenize(sent):
#             # Check if it is not numeric and its length >2 and not in stop words
#             if(not w.isnumeric()) and (len(w) > 2) and (w not in stopwords):  
#                 # Stem and add to filtered list
#                 filtered_sentence.append(snow.stem(w))
#         final_string = " ".join(filtered_sentence) #final string of cleaned words
 
#         final_text_list.append(final_string)
        
#     return final_text_list

In [10]:
#df['Feature'] = df['Plots'] + df['Genres']

In [12]:
#df['Processed_feature'] = process_text(df['Feature'])

In [7]:
df.columns

Index(['Title', 'Year', 'Genres', 'Plots', 'Processed_feature'], dtype='object')

In [23]:
start = time.perf_counter()
# Instantiate the vectorizer object and transform the plot column
vectorizer = TfidfVectorizer(max_df=0.7, min_df=2)
vectorized_data = vectorizer.fit_transform(df['Processed_feature']) 

# Create Dataframe from TF-IDFarray
tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names())

# Assign the movie titles to the index and inspect
tfidf_df.index = df['Title']

finish = time.perf_counter()
print(f'Finished in {round(finish-start,2)/60} seconds')

Finished in 0.018666666666666668 seconds

In [15]:
tfidf_df.head()

,100th,10th,11th,12th,13th,14th,150th,1590s,15th,1600s,...,zombi,zone,zoo,zooey,zookeep,zoologist,zoom,zord,zoya,zquez
Title,,,,,,,,,,,,,,,,,,,,,
02:22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
import time

In [13]:
start = time.perf_counter()
# Create the array of cosine similarity values
cosine_similarity_array = cosine_similarity(tfidf_df)

# Wrap the array in a pandas DataFrame
cosine_similarity_df = pd.DataFrame(cosine_similarity_array, index=tfidf_df.index, columns=tfidf_df.index)

finish = time.perf_counter()
print(f'Finished in {round(finish-start,2)} seconds')

Finished in 28.53 seconds

In [16]:
# Print the top 5 rows of the DataFrame
cosine_similarity_df.head()

Title,02:22,85,9,10,21,31,42,54,99,122,...,Zoombies,Zoot Suit,Zootopia,Zozo,Zulu,Zulu Man In Japan,The Shawshank Redemption,The Chronicles of Narnia: Prince Caspian,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",The Chronicles of Narnia: The Voyage of the Dawn Treader
Title,,,,,,,,,,,,,,,,,,,,,
02:22,1.000000,0.033892,0.041957,0.000000,0.014745,0.010531,0.003392,0.011060,0.004251,0.047789,...,0.048353,0.023003,0.030351,0.050327,0.004362,0.0,0.013648,0.007942,0.000000,0.000000
85,0.033892,1.000000,0.014145,0.012548,0.002910,0.000000,0.018701,0.041957,0.002588,0.017491,...,0.008997,0.017032,0.007981,0.046100,0.010583,0.0,0.019578,0.028278,0.013101,0.019855
9,0.041957,0.014145,1.000000,0.000000,0.000000,0.022776,0.011543,0.018445,0.000000,0.000000,...,0.063413,0.017818,0.079933,0.000000,0.000000,0.0,0.018854,0.018110,0.023135,0.030482
10,0.000000,0.012548,0.000000,1.000000,0.017473,0.000000,0.023065,0.000000,0.007941,0.000000,...,0.009753,0.000000,0.008651,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
21,0.014745,0.002910,0.000000,0.017473,1.000000,0.008302,0.002674,0.002448,0.012788,0.054519,...,0.008582,0.002260,0.010280,0.005994,0.003439,0.0,0.011523,0.000000,0.000000,0.000000

In [8]:
cosine_similarity_df.shape

(15250, 15250)

In [17]:
#cosine_similarity_df.to_csv('data/cosine_similarity.csv', index=False)

In [18]:
# Find the values for the movie rio
cosine_similarity_series = cosine_similarity_df.loc['Thor']

# Sort these values highest to lowest
ordered_similarities = cosine_similarity_series.sort_values(ascending=False)

# Print the results
ordered_similarities

Title
Thor                                           1.000000
Thor The Dark World                            0.318715
While You Were Fighting A Thor Mockumentary    0.280026
Hulk Vs                                        0.260048
Warcraft                                       0.188721
                                                 ...
Bitter Lake                                    0.000000
Read It And Weep                               0.000000
Reach For Me                                   0.000000
Ray Harryhausen Special Effects Titan          0.000000
Norma Rae                                      0.000000
Name: Thor, Length: 15250, dtype: float64

In [22]:
def cosine_similarities(df, text_col):
    #ransform the feature column
    vectorized_data = vectorizer.fit_transform(df[text_col])
    
    tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names())

    # Assign the movie titles to the index and inspect
    tfidf_df.index = df['Title']
    
    # Create the array of cosine similarity values
    cosine_similarity_array = cosine_similarity(tfidf_df)

    # Wrap the array in a pandas DataFrame
    cosine_similarity_df = pd.DataFrame(cosine_similarity_array, index=tfidf_df.index, columns=tfidf_df.index)
    
    return cosine_similarity_df

In [21]:
def get_recommendation(cosine_similarity_df, title):
    # Find the values for the movie rio
    cosine_similarity_series = cosine_similarity_df.loc[title]
    
    # Sort these values highest to lowest and select the first 
    ordered_similarities = cosine_similarity_series.sort_values(ascending=False)
    recommendations = list(ordered_similarities[1:6].index)
    
    return recommendations

In [19]:
# Find the values for the movie rio
cosine_similarity_series = cosine_similarity_df.loc['Rio']

# Sort these values highest to lowest
ordered_similarities = cosine_similarity_series.sort_values(ascending=False)
recommendations = list(ordered_similarities[1:6].index)

# Print the results
ordered_similarities

Title
Rio                1.000000
Rio 2              0.495945
Shining Through    0.185474
Delovely           0.180990
Lost In America    0.168870
                     ...
The Quiet Earth    0.000000
Dealt              0.000000
Psycho Goreman     0.000000
Psycho             0.000000
Doubting Thomas    0.000000
Name: Rio, Length: 15250, dtype: float64

In [20]:
# Find the values for the movie rio
cosine_similarity_series = cosine_similarity_df.loc['The Chronicles of Narnia: Prince Caspian']

# Sort these values highest to lowest
ordered_similarities = cosine_similarity_series.sort_values(ascending=False)

# Print the results
ordered_similarities

Title
The Chronicles of Narnia: Prince Caspian                          1.000000
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe    0.449735
The Chronicles of Narnia: The Voyage of the Dawn Treader          0.266639
Epic Movie                                                        0.163673
The Triumph Of Love                                               0.143035
                                                                    ...
Harith Iskander I Told You So                                     0.000000
Harlem Nights                                                     0.000000
Harms Way                                                         0.000000
Sundown The Vampire In Retreat                                    0.000000
A New York Christmas Wedding                                      0.000000
Name: The Chronicles of Narnia: Prince Caspian, Length: 15250, dtype: float64

In [21]:
cosine_similarity_df.columns

Index(['02:22', '85', '9', '10', '21', '31', '42', '54', '99', '122',
       ...
       'Zoombies', 'Zoot Suit', 'Zootopia', 'Zozo', 'Zulu',
       'Zulu Man In Japan', 'The Shawshank Redemption',
       'The Chronicles of Narnia: Prince Caspian',
       'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
       'The Chronicles of Narnia: The Voyage of the Dawn Treader'],
      dtype='object', name='Title', length=15250)

- cosine similarity is higher with the processed plots, the answers are ot necessarily different, the similarity numbers are just higher

# Without threading 
- 31.49 seconds - jupyter notebook
- 37.01 seconds - on browser

In [43]:
start = time.perf_counter()
x = get_recommendation(cosine_similarity_df, 'Thor')
finish = time.perf_counter()
print(f'Finished in {round(finish-start,2)} seconds')

Finished in 0.03 seconds

In [23]:
start = time.perf_counter()
x = show_recommendations('Thor')
finish = time.perf_counter()
print(f'Finished in {round(finish-start,2)} seconds')

Finished in 31.49 seconds

In [24]:
x

['Thor: The Dark World', 'Team Thor', 'Hulk vs. Thor', 'Warcraft', 'Blackmark']

# Threading

In [26]:
df.shape

(15250, 5)

In [27]:
15250/5

3050.0

In [9]:
3050 * 5

15250

In [41]:
len(df[12200:15250])

3050

In [4]:
def cosine_similarities_thread(df, text_col):
    #transform the feature column
    vectorizer = TfidfVectorizer(max_df=2, min_df=1)
    vectorized_data = vectorizer.fit_transform(df[text_col])
    
    tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names())
    tfidf_df.index = df['Title']
    
    # Create the array of cosine similarity values
    cosine_similarity_array = cosine_similarity(tfidf_df)

    # Wrap the array in a pandas DataFrame
    cosine_similarity_df = pd.DataFrame(cosine_similarity_array, index=tfidf_df.index, columns=tfidf_df.index)
    
    return cosine_similarity_df

In [16]:
def cosine_similarities_thread1(data, text_col, start, end):
    df = data[start:end]
    #transform the feature column
    vectorizer = TfidfVectorizer(max_df=2, min_df=1)
    vectorized_data = vectorizer.fit_transform(df[text_col])

    tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names())
    
    tfidf_df.index = df['Title']
    
    # Create the array of cosine similarity values
    cosine_similarity_array = cosine_similarity(tfidf_df)

    # Wrap the array in a pandas DataFrame
    cosine_similarity_df = pd.DataFrame(cosine_similarity_array, index=tfidf_df.index, columns=tfidf_df.index)
    
    return cosine_similarity_df

In [6]:
start = time.time()
x = cosine_similarities_thread(df, 'Processed_feature')
print("--- %s seconds ---" % (time.time() - start))

--- 32.29134798049927 seconds ---

In [7]:
import threading
import time

In [11]:
import concurrent.futures

In [42]:
df.shape

(15250, 5)

In [53]:
len(df)

15250

In [20]:
15250/4

3812.5

In [23]:
3812 * 4

15248

In [52]:
len(d1) + len(d2)+ len(d3) + len(d4) + len(d5) #+ len(d6) + len(d7)

15250

### spliting the data during threading

In [24]:
start = time.time()

with concurrent.futures.ThreadPoolExecutor() as executor:
    t1 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 0, 3812)
    t2 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 3812, 7624)
    t3 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 7624, 11436)
    t4 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 11436, 15250)
    
    results = t1.result() +  t2.result() +  t3.result() + t4.result() 
    
print("--- %s seconds ---" % (time.time() - start))

--- 17.773313999176025 seconds ---

In [18]:
start = time.time()

with concurrent.futures.ThreadPoolExecutor() as executor:
    t1 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 0, 3050)
    t2 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 3050, 6100)
    t3 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 6100, 9150)
    t4 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 9150, 12200)
    t5 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 12200, 15250)
    
    results = t1.result() +  t2.result() +  t3.result() + t4.result() +  t5.result() 
    
print("--- %s seconds ---" % (time.time() - start))

--- 17.48763084411621 seconds ---

In [19]:
start = time.time()

with concurrent.futures.ThreadPoolExecutor() as executor:
    t1 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 0, 2178)
    t2 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 2178, 4356)
    t3 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 4356, 6534)
    t4 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 6534, 8712)
    t5 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 8712, 10890)
    t6 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 10890, 13068)
    t7 = executor.submit(cosine_similarities_thread1, df, 'Processed_feature', 13068, 15250)
    
    results = t1.result() +  t2.result() +  t3.result() + t4.result() +  t5.result() +  t6.result() +  t7.result() 
    
print("--- %s seconds ---" % (time.time() - start))

--- 22.083627939224243 seconds ---

### spliting the data before threading

In [ ]:
d1 = df[0:3050]
d2 = df[3050:6100]
d3 = df[6100:9150]
d4 = df[9150:12200]
d5 = df[12200:16250]

In [13]:
start = time.time()

with concurrent.futures.ThreadPoolExecutor() as executor:
    t1 = executor.submit(cosine_similarities_thread, d1, 'Processed_feature')
    t2 = executor.submit(cosine_similarities_thread, d2, 'Processed_feature')
    t3 = executor.submit(cosine_similarities_thread, d3, 'Processed_feature')
    t4 = executor.submit(cosine_similarities_thread, d4, 'Processed_feature')
    t5 = executor.submit(cosine_similarities_thread, d5, 'Processed_feature')
    
    results = t1.result() +  t2.result() +  t3.result() + t4.result() +  t5.result() 
    
print("--- %s seconds ---" % (time.time() - start))

--- 17.922550201416016 seconds ---

In [14]:
d1 = df[0:2178]
d2 = df[2178:4356]
d3 = df[4356:6534]
d4 = df[6534:8712]
d5 = df[8712:10890]
d6 = df[10890:13068]
d7 = df[13068:15250]

In [15]:
start = time.time()

with concurrent.futures.ThreadPoolExecutor() as executor:
    t1 = executor.submit(cosine_similarities_thread, d1, 'Processed_feature')
    t2 = executor.submit(cosine_similarities_thread, d2, 'Processed_feature')
    t3 = executor.submit(cosine_similarities_thread, d3, 'Processed_feature')
    t4 = executor.submit(cosine_similarities_thread, d4, 'Processed_feature')
    t5 = executor.submit(cosine_similarities_thread, d5, 'Processed_feature')
    t6 = executor.submit(cosine_similarities_thread, d6, 'Processed_feature')
    t7 = executor.submit(cosine_similarities_thread, d7, 'Processed_feature')
    
    results = t1.result() +  t2.result() +  t3.result() + t4.result() +  t5.result() +  t6.result() +  t7.result() 
    
print("--- %s seconds ---" % (time.time() - start))

--- 22.21785306930542 seconds ---

In [40]:
results.head()

Title,#Friendbutmarried,#Friendbutmarried 2,#Imomsohard Live,#Lucky Number,#Realityhigh,#Rucker50,#cats_the_mewvie,02:22,1 Night In San Diego,10,...,Zookeeper,Zoolander,Zoolander 2,Zoom,Zoombies,Zoot Suit,Zootopia,Zozo,Zulu,Zulu Man In Japan
Title,,,,,,,,,,,,,,,,,,,,,
#Friendbutmarried,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Friendbutmarried 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Imomsohard Live,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Lucky Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Realityhigh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
results.shape

(15250, 15250)

In [19]:
def show_recommendations(movie_title: str):
    img_base_url = 'https://image.tmdb.org/t/p/w500'

    cosine_similarity_df = functions.cosine_similarities(df, 'Processed_feature')
    names = functions.get_recommendations(cosine_similarity_df, movie_title)

    fetched_img_files = []
    fetched_titles = []
    fetched_overview = []
    fetched_rating = []
    fetched_date = []

    #API CALL TO GET INFORMATION ON RECOMMENDED MOVIES
    search = tmdb.Search()
    for n in names:
        response = search.movie(query=n)
        response = response['results'][0]
        fetched_titles.append(response['title'])

    return fetched_titles

In [20]:
import tmdbsimple as tmdb
import os

api_key = os.getenv("MOVIE_API_KEY")
tmdb.API_KEY = api_key

In [8]:
x = show_recommendations('Avatar')
x

['Stand by Me Doraemon',
 'The Old Guard',
 'Apollo 18',
 "Last Year's Snow Was Falling",
 'Meteor Moon']

In [10]:
search = tmdb.Search()
response = search.movie(query='Stand by Me Doraemon')
response = response['results'][0]
response

{'adult': False,
 'backdrop_path': '/1aABIiqBY7yoQESE8qWvR0w9bJZ.jpg',
 'genre_ids': [16, 10751, 878, 14],
 'id': 265712,
 'original_language': 'ja',
 'original_title': 'STAND BY ME ドラえもん',
 'overview': "In the suburbs of Tokyo some time ago, there lived a clumsy boy about 10 years old. There appeared in front of him named Sewashi, Nobita's descendant of four generations later from the 22nd century, and Doraemon, a 22nd century cat-type caretaker robot who helps people with its secret gadgets. Sewashi claims that his family is suffering from the debts Nobita made even to his generation, so in order to change this disastrous future, he brought along Doraemon as Nobita's caretaker to bring happiness to his future, although Doraemon is not happy about this. And so Sewashi installed an accomplishment program into Doraemon forcing him to take care of Nobita. Unless he makes Nobita happy, Doraemon can no longer go back to the 22nd century. This is how the life of Doraemon and Nobita begins. Will Doraemon succeed this mission and return to the 22nd century?",
 'popularity': 82.57,
 'poster_path': '/jArnRnllnxbvE2CEV8jc2hhwweS.jpg',
 'release_date': '2014-08-08',
 'title': 'Stand by Me Doraemon',
 'video': False,
 'vote_average': 7.3,
 'vote_count': 308}

In [11]:
genre_id = [16, 10751, 878, 14]

In [12]:
genre_key = {28:'Action', 12:'Adventure', 16:'Animation', 35:'Comedy', 80:'Crime',
             99:'Documentary', 18:'Drama', 10751:'Family', 14:'Fantasy', 36:'History', 
             27:'Horror', 10402:'Music', 9648:'Mystery', 10749:'Romance', 878 :'Science Fiction', 
             10770:'TV Movie', 53:'Thriller', 10752:'War',  37:'Western'}

In [17]:
genres = []
g = '' 
for k in genre_id:
    if k in genre_key:
        g += genre_key[k] +', '

In [18]:
genre

'Animation, Family, Science Fiction, Fantasy, '

In [24]:
popular_title = []
popular_rating = []
popular_poster = []
popular_date = []
genres = []


search = tmdb.Search()
for n in x:
    g = ''
    response = search.movie(query=n)
    response = response['results'][0]
    popular_rating.append(response['vote_average'])
    popular_date.append(response['release_date'].split('-')[0])
    genre_ids = response['genre_ids']
    for k in genre_ids:
        if k in genre_key:
            g += genre_key[k] +', '
    genres.append(g)

In [25]:
genres

['Animation, Family, Science Fiction, Fantasy, ',
 'Action, Fantasy, ',
 'Horror, Thriller, Science Fiction, ',
 'Animation, Comedy, Family, Fantasy, ',
 'Adventure, Science Fiction, ']